<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LogistikPC.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <LogistikPC.My.MySettings>
            <setting name="ConexionLocal" serializeAs="String">
                <value>Data Source=192.168.1.117;Initial Catalog=LogistikMasterValvulerias;Integrated Security=False;Uid=sa; Password=Aspel2020$;MultipleActiveResultSets=true</value>
            </setting>
            <setting name="ConexionSAE" serializeAs="String">
                <value>Data Source=10.0.2.15;Initial Catalog=SAE70_Emp06;Integrated Security=True;MultipleActiveResultSets=True;Uid=admin; Password=PASS</value>
            </setting>
            <setting name="vgCrearBD_IP" serializeAs="String">
                <value>192.168.1.117</value>
            </setting>
            <setting name="vgBDOtroLado_IP2" serializeAs="String">
                <value>192.168.1.117</value>
            </setting>
            <setting name="vgBDOtroLado_User" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="pass" serializeAs="String">
                <value>Aspel2020$</value>
            </setting>
            <setting name="vgBDOtroLado_Pass" serializeAs="String">
                <value>Aspel2020$</value>
            </setting>
            <setting name="vgCrearBD_Name" serializeAs="String">
                <value>LogistikMasterValvulerias</value>
            </setting>
            <setting name="ConexionLocal2" serializeAs="String">
                <value>Data Source=192.168.1.117;Initial Catalog=LogistikMasterValvulerias01;Integrated Security=False;Uid=sa; Password=Aspel2020$;MultipleActiveResultSets=true</value>
            </setting>
            <setting name="ProvEmp01" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="Ruta_SAE_FB" serializeAs="String">
                <value>C:\Program Files\Common Files\Aspel\Sistemas Aspel\SAE7.00\Empresa01\DATOS\SAE70EMPRE01.FDB</value>
            </setting>
            <setting name="ProvEmp04" serializeAs="String">
                <value>1</value>
            </setting>
        </LogistikPC.My.MySettings>
    </userSettings>
</configuration>
